h1 {
    color: white;
    font-family: Futura;
}


h2 {
    color: white;
    font-family: Futura;
}


h3 {
    color: #FF0000;
    font-family: Futura;
}


.links {
    font-family: Futura;
    color: #FF0000;
}