div {
  background-color: white;
  text-align: center;
  margin: auto 0;
  margin-bottom: 20px;
  font-family: Futura;
  color: rgb(255, 196, 58);
  font-size: 23px;
}

.centered {
  text-align: center;
  margin: auto 0;
  margin-bottom: 20px;
}

.center-title {
  font-size: 30px;
  margin-top: 10px;
  color:#696969;
}

.names-header {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgb(245, 115, 115);
}

.logo {
  width: 200px;
  margin-top: 150px;
  margin-bottom: 10px;

}

.smallImageForPoem {
  width:300px;
  height:300px;
}

.largeImageForPoem {
  width:300px;
  height:300px;
}


.resize { /*gia to resizing tis fotografias*/
   max-width: 15%;
   max-height: 15%;
   position: absolute;
    top: 80%;
    left: 85%;
}

/*.smallpoem {
  display: none;
}

.smallImageForPoem {
  display: none;
}

@media only screen and (max-width : 900px) {
    .smallpoem {
      display: block;
    }
    
    .largepoem {
      display: none;
    }

    .largeImageForPoem{
      display: none;
    }
}*/