.sometext {
    position: absolute;
    top: 20px;
    left: 90px; /*edo vazw px giati prepei na einai statheri i apostasi metaksy tou text kai tis photo*/
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,123,172);
    font-family: Futura;
}




.blah {
    position: absolute;
    top: 3%;
    left: 10%;
 
 /*me to "%" tote kanei scale, diladi allazei thesi
 opos allazei to megethos tou parathyrou.*/
    
}

.blah:hover .sometext {
    display: block;
}

.blah:hover .sometext3 {
    display: block;
}




.blah2 {
    position: absolute;
    top: 30%;
    left: 23%;

    
}

.blah2:hover .sometext {
    display: block;
}

.blah2:hover .sometext3 {
    display: block;
}




.blah3 {
    position: absolute;
    top: 55%;
    left: 40%;

    
}

.blah3:hover .sometext {
    display: block;
}

.blah3:hover .sometext3 {
    display: block;
}




.blah4 {
    position: absolute;
    top: 10%;
    left: 47%;

    
}

.blah4:hover .sometext {
    display: block;
}

.blah4:hover .sometext3 {
    display: block;
}




.blah5 {
    position: absolute;
    top: 85%;
    left: 20%;

    
}

.blah5:hover .sometext {
    display: block;
}

.blah5:hover .sometext3 {
    display: block;
}




.blah6 {
    position: absolute;
    top: 80%;
    left: 50%;

    
}

.blah6:hover .sometext {
    display: block;
}

.blah6:hover .sometext3 {
    display: block;
}




.blah7 {
    position: absolute;
    top: 5%;
    left: 85%;

    
}

.blah7:hover .sometext {
    display: block;
}

.blah7:hover .sometext3 {
    display: block;
}




.blah8 {
    position: absolute;
    top: 65%;
    left: 83%;

    
}

.blah8:hover .sometext {
    display: block;
}

.blah8:hover .sometext3 {
    display: block;
}




.blah9 {
    position: absolute;
    top: 40%;
    left: 60%;

    
}

.blah9:hover .sometext {
    display: block;
}

.blah9:hover .sometext3 {
    display: block;
}




.blah10 {
    position: absolute;
    top: 35%;
    left: 80%;

    
}

.blah10:hover .sometext {
    display: block;
}

.blah10:hover .sometext3 {
    display: block;
}




.blah11 {
    position: absolute;
    top: 83%;
    left: 72%;

    
}

.blah11:hover .sometext {
    display: block;
}

.blah11:hover .sometext3 {
    display: block;
}




.blah12 {
    position: absolute;
    top: 60%;
    left: 8%;

    
}

.blah12:hover .sometext {
    display: block;
}

.blah12:hover .sometext3 {
    display: block;
}





/*Gia tous titlous stis selides ton images*/
.sometext2 {
    position: absolute;
   /* top: 0px; */
    bottom: 0px;
    left: 520px;
    width: 200px;
    display: block;
    vertical-align: top;
    color: rgb(255,123,172);
    font-family: Futura;
    font-size: 500%
}



.image {
    position: absolute;
    top: 1%;
    left: 1%;
 
}



.hidden {
    opacity: 0;
}



.close {
    position: absolute;
    top: 5px;
    right: 15px;
    color: rgb(0,0,0);
    font-family: Futura;
    font-size: 300%
}



.sometext3 {
    position: absolute;
    top: 40px;
    left: 90px; /*edo vazw px giati prepei na einai statheri i apostasi metaksy tou text kai tis photo*/
    width: 150px;
    display: none;
    vertical-align: top;
    color: rgb(255,255,255);
    font-family: Futura;
    font-style: italic;
}