background {
    background-color: #000;
}


.container {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    /*background-color: #000;*/
}


img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}


.sometext {
    position: absolute;
    top: 0;
    left: 250;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(0,0,0);
    font-family: Futura;
}


.sometext2 {
    position: absolute;
    top: 0;
    right: 220;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 15px;
}


.sometext3 {
    position: absolute;
    top: 0;
    right: 230;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 25px;
}


.sometext4 {
    position: absolute;
    top: 0;
    right: 240;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 35px;
}


.sometext5 {
    position: absolute;
    top: 0;
    right: 250;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 45px;
}


.sometext6 {
    position: absolute;
    top: 0;
    right: 260;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 55px;
}


.sometext7 {
    position: absolute;
    top: 0;
    right: 270;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 65px;
}


.sometext8 {
    position: absolute;
    top: 0;
    right: 280;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 75px;
}


.sometext9 {
    position: absolute;
    top: 0;
    right: 290;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 85px;
}


.sometext10 {
    position: absolute;
    top: 0;
    right: 300;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 95px;
}


.sometext11 {
    position: absolute;
    top: 0;
    right: 310;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 105px;
}


.sometext12 {
    position: absolute;
    top: 0;
    right: 320;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 115px;
}


.sometext13 {
    position: absolute;
    top: 0;
    right: 350;
    width: 200px;
    display: none;
    vertical-align: top;
    color: rgb(255,0,0);
    font-family: Futura;
    font-size: 125px;
}


.parent {
    margin: 0 auto;
    position: relative;
}


.jang {
    width: 20px;
}

.jang:hover .sometext {
    display: block;
}

.jang:hover .sometext2 {
    display: block;
}


.laurat {
    width: 40px;
}

.laurat:hover .sometext {
    display: block;
}

.laurat:hover .sometext3 {
    display: block;
}


.perla {
    width: 60px;
}

.perla:hover .sometext {
    display: block;
}

.perla:hover .sometext4 {
    display: block;
}


.carlos {
    width: 80px;
}

.carlos:hover .sometext {
    display: block;
}

.carlos:hover .sometext5 {
    display: block;
}


.clarissa {
    width: 100px;
}

.clarissa:hover .sometext {
    display: block;
}

.clarissa:hover .sometext6 {
    display: block;
}


.junlu {
    width: 120px;
}

.junlu:hover .sometext {
    display: block;
}

.junlu:hover .sometext7 {
    display: block;
}


.tzu {
    width: 140px;
}

.tzu:hover .sometext {
    display: block;
}

.tzu:hover .sometext8 {
    display: block;
}


.nicole {
    width:160px;
}

.nicole:hover .sometext {
    display: block;
}

.nicole:hover .sometext9 {
    display: block;
}


.mrinal {
    width: 180px;
}

.mrinal:hover .sometext {
    display: block;
}

.mrinal:hover .sometext10 {
    display: block;
}


.lauram {
    width: 200px;
}

.lauram:hover .sometext {
    display: block;
}

.lauram:hover .sometext11 {
    display: block;
}


.young {
    width: 220px;
}

.young:hover .sometext {
    display: block;
}

.young:hover .sometext12 {
    display: block;
}


.pedro {
    width: 240px;
}

.pedro:hover .sometext {
    display: block;
}

.pedro:hover .sometext13 {
    display: block;
}