.wrapper {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}


#quoteArrayDiv {
    /* margin: 40px; */
    position: relative;
    top: 90%;
    left: 15%;
    width:900px;
	height:100px;
    color: red;
    font-size: 30px;
    font-family: Futura;
    font-weight: bold;
    text-align:center;
    /* z-index: 500; */
    /* padding: 20px; */
}

#buttonDiv { /* afto einai to i love ny symbol*/
	width:110px;
	height:110px;
    position: absolute;
    top: 2%;
    left: 90%;
    background-image: url(img/iloveny2.png);
}

#imageDiv {
	width:500px ;
	height:500px ;
    /* background-color:pink; */
    position: absolute;
    top: 2%;
    left: 30%;
    background-size: 100%;
}


/* #soundDiv {
    opacity: 0;
    width: 120px;
    height: 120px;
} */

/* <audio controls autoplay loop> */

#sound1 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound2 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound3 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound4 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound5 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound6 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound7 {
    opacity: 0;
    width: 120px;
    height: 120px;
}

#sound8 {
    opacity: 0;
    width: 120px;
    height: 120px;
}