h1 {
    color: white;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


h2 {
    color: white;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


h3 {
    color: #FF0000;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


.links {
    font-family: Futura;
    color: #FF0000;
}


/*typeface code*/

.wrapper2 {
    width: 780px;
    height: 780px;
    margin: 0 auto;
    position: relative;
}

.boxA {
    width: 120px;
    height: 120px;
    background: #f1f1f1;
    position: absolute;
    top: 10px;
    left: 10px;
}

.line1a {
    position: absolute;
    top: 55px;
    left: 20px;
    width: 3px;
    height: 65px;
    transform: rotate(13deg);
    background-color: black;
}

.line2a {
    position: absolute;
    top: 47;
    left: 34;
    width: 3px;
    height: 15px;
    transform: rotate(75deg);
    background-color: black;
    border-radius: 100px;
}

.line3a {
    position: absolute;
    top: 28;
    left: 52px;
    width: 3px;
    height: 30px;
    transform: rotate(50deg);
    background-color: black;
    border-radius: 100px;
}

.line4a {
    position: absolute;
    top: 13;
    left: 72px;
    width: 3px;
    height: 30px;
    transform: rotate(57deg);
    background-color: black;
    border-radius: 100px;
}

.line5a {
    position: absolute;
    top: 13;
    left: 90px;
    width: 3px;
    height: 15px;
    transform: rotate(90deg);
    background-color: black;
    border-radius: 100px;
}

.line6a {
    position: absolute;
    top: 19;
    left: 101px;
    width: 3px;
    height: 50px;
    transform: rotate(170deg);
    background-color: black;
    border-radius: 100px;
}

.line7a {
    position: absolute;
    top: 68;
    left: 103px;
    width: 3px;
    height: 53px;
    transform: rotate(185deg);
    background-color: black;
    border-radius: 100px;
}

.line8a {
    position: absolute;
    top: 93;
    left: 85px;
    width: 3px;
    height: 35px;
    transform: rotate(300deg);
    background-color: black;
    border-radius: 100px;
}

.line9a {
    position: absolute;
    top: 71;
    left: 60px;
    width: 3px;
    height: 35px;
    transform: rotate(320deg);
    background-color: black;
    border-radius: 100px;
}

.line10a {
    position: absolute;
    top: 43;
    left: 30px;
    width: 3px;
    height: 30px;
    transform: rotate(310deg);
    background-color: black;
    border-radius: 100px;
}

.line11a {
    position: absolute;
    top: 65;
    left: 45px;
    width: 3px;
    height: 13px;
    transform: rotate(315deg);
    background-color: black;
    border-radius: 100px;
}



.boxB {
    width: 120px;
    height: 120px;
    background: #f1f1f1;
    position: absolute;
    top: 10px;
    left: 140px;
}

.line1b {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 3px;
    height: 50px;
    background-color: black;
}

.line2b {
    position: absolute;
    top: 22px;
    left: 23px;
    width: 3px;
    height: 50px;
    transform: rotate(8deg);
    background-color: black;
}

.line3b {
    position: absolute;
    top: 102px;
    left: 34px;
    width: 3px;
    height: 30px;
    transform: rotate(87deg);
    background-color: black;
}

.line4b {
    position: absolute;
    top: 102px;
    left: 64px;
    width: 3px;
    height: 30px;
    transform: rotate(93deg);
    background-color: black;
}

.line5b {
    position: absolute;
    top: 102px;
    left: 78px;
    width: 3px;
    height: 17px;
    transform: rotate(-7deg);
    background-color: black;
}

.line6b {
    position: absolute;
    top: 89px;
    left: 78px;
    width: 3px;
    height: 17px;
    transform: rotate(7deg);
    background-color: black;
}

.line7b {
    position: absolute;
    top: 65px;
    left: 55px;
    width: 3px;
    height: 50px;
    transform: rotate(92deg);
    background-color: black;
}

.line8b {
    position: absolute;
    top: 82px;
    left: 25px;
    width: 3px;
    height: 12px;
    transform: rotate(100deg);
    background-color: black;
}

.line9b {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 3px;
    height: 70px;
    transform: rotate(60deg);
    background-color: black;
    border-radius: 100px;
}

.line10b {
    position: absolute;
    top: -7px;
    left: 56px;
    width: 3px;
    height: 58px;
    transform: rotate(125deg);
    background-color: black;
    border-radius: 100px;
}

.line11b {
    position: absolute;
    top: 16px;
    left: 30px;
    width: 3px;
    height: 10px;
    transform: rotate(65deg);
    background-color: black;
    border-radius: 100px;
}

.line12b {
    position: absolute;
    top: 4px;
    left: 33px;
    width: 3px;
    height: 16px;
    transform: rotate(-9deg);
    background-color: black;
    border-radius: 100px;
}


/*alphabet*/

/*.d {
    position: absolute;
    height: 50px;
    width: 50px;*/
  
.wrapper {
    width: 8580px;
    height: 6660px;
    margin: 0 auto;
    position: relative;
}
    
.resize { /*gia to resizing tis fotografias*/
   max-width:30%;
   max-height:30%;
}


.sometext {
    position: absolute;
    top: 40px;
    left: 90px; /*edo vazw px giati prepei na einai statheri i apostasi metaksy tou text kai tis photo*/
    width: 150px;
    display: none;
    vertical-align: top;
    color: black;
    font-family: Futura;
}
    

.image1 { /*done*/
    position: absolute;
    top: 25%;
    left: 10%;
}

.image2 {
    position: absolute;
    top: 30%;
    left: 10%;
}

.image3 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image4 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image5 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image6 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image7 {
    position: absolute;
    top: 75%;
    left: 7%;
}

.image8 { /*done*/
    position: absolute;
    top: 40%;
    left: 7%;
}

.image9 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image10 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.image11 {
    position: absolute;
    top: 30%;
    left: 50%;
}

.image12 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image13 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image14 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image15 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image16 {  /*done*/
    position: absolute;
    top: 20%;
    left: 20%;
}

.image17 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image18 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image19 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.image20 {
    position: absolute;
    top: 30%;
    left: 50%;
}

.image21 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image22 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image23 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image24 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image25 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image26 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image27 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image28 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.image29 {
    position: absolute;
    top: 30%;
    left: 50%;
}

.image30 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image31 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image32 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image33 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image34 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.image35 { /*done*/
    position: absolute;
    top: 55%;
    left: 5%;
}

.image36 {
    position: absolute;
    top: 80%;
    left: 20%;
}